@charset "utf-8";

/*공통요소, 헤더, 푸터 정보*/

/*공통*/
#wrap{
  min-width: 380px;
  position: relative;
}

.inner{
  height: 1080px;
  max-width: 1300px;
  padding: 0 5%;
  margin: 0 auto;
}

@media screen and (max-width : 1200px) {
  .inner{
    height: 800px;
  }
}

@media screen and (max-width : 768px) {
  .inner{
    height: 917px;
  }
}

/*header*/
header{
  position: relative;
  width: 100%;
  height: 100px;
  z-index: 999;
}

header .inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

header .util{
  display: none;
}

header .search{
  display: none;
}

header h1 img{
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

header .utill{
  position: absolute;
  top: 50%;
  right: 2.5%;
  transform: translateY(-50%);
  display: flex;
  gap: 20px;
}

header .ham img{
  height: 20px;
  position: absolute;
  top: 50%;
  left: 2.5%;
  transform: translateY(-50%);
}

.dim{
  background: rgba(0,0,0,0.8); 
  position: fixed; 
  right: 0; 
  top: 0; 
}

.mgnb_wrap{ 
  z-index: 999999;
  position: fixed; 
  left: -100%;
  top: 0; 
  width: 300px; 
  height: 100%; 
  background: #ddd; 
  padding: 150px 50px 50px;
}

.mgnb_wrap h2{
  position: absolute;
  top: 90px; 
}

.mgnb > li{ 
  padding: 20px 0; 
  border-bottom: 1px solid #ddd; 
  text-transform: uppercase; 
}

.mdepth2{ 
  padding: 10px 0 0 40px; 
}

.mdepth2 > li a{ 
  color:#666; 
  font-size: 1.4rem; 
}

.mdepth2 > li{ 
  position: relative; 
}

.mdepth2 > li:before{ 
  content: ''; 
  width: 5px; 
  height: 5px; 
  background: #999; 
  border-radius: 50%; 
  position: absolute; 
  left: -13px; 
  top: 10px; 
}

.mutill{
  display: none;
}

.mgnb_close{ 
  position: absolute; 
  right: 30px; 
  top: 30px;  
  color: #000; 
  font-size: 2rem; 
  font-weight: 900;
  width: 40px; 
  height: 40px; 
  cursor: pointer; 
}

.header2{
  position: relative;
  height: 70px;
  z-index: 999;
}

.header2 .inner{
  display: flex;
  justify-content: space-between;
}

.header2 .gnb{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
}

.header2 .gnb > li{ 
  position: relative;
}

.header2 .gnb > li > a{ 
  display: block; 
  padding: 10px 50px 15px;
}

.header2 .gnb > li:nth-child(n+5) a{
  color: #999;
}

.header2 .depth2{ 
  position: absolute; 
  left: 50%; 
  transform: translateX(-50%); 
  top: 50px; 
  background: #000; 
  padding: 20px 20px 30px; 
  width: 130px; 
  border-radius: 10px; 
}

.header2 .depth2 > li{ 
  font-size: 1.4rem; 
  text-align: center; 
  padding: 3px 0; 
}

.header2 .depth2 > li > a{ 
  transition: opacity 0.5s; 
  color: #fff; 
  opacity: 0.7; 
}

.header2 .depth2 > li > a:hover{ 
  opacity: 1; 
}

.header2 .search-box{
  position: absolute;
  top: 50%;
  right: 20%;
  transform: translateY(-50%);
  width: 300px;
  margin: 0 auto;
  border-bottom: 1px solid #000;
  display: flex;
  align-items: center;
}

.header2 .search-box input{
  width: 90%;
  padding: 10px;
  background-color: transparent;
}
.header2 .search-box button{
  width: 16px;
  height: 16px;
  background: url(../image/Asset_5.png) no-repeat center / contain;
  border: 0;
  color: transparent;
  font-size: 0;
}

.mlang{
  display: none;
}

.header2 .lang{
  position: absolute;
  top: 50%;
  right: 2.5%;
  transform: translateY(-50%);
  display: flex;
  gap: 30px;
}
.header2 .lang li a{
  text-transform: uppercase;
  font-weight: bold;
}

.header2 .lang > li > a{ 
  transition: opacity 0.5s; 
  color: #000; 
  opacity: 0.5; 
}

.header2 .lang > li > a:hover{ 
  opacity: 1; 
}

@media screen and (max-width : 1200px) {
  header .ham{ 
    display: block;
    padding: 0 0 0 20px;
  }

  header h1 img{
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  .header2{
    display: none;
  }

  .dim{
    z-index: 999;
  }

  .mgnb_wrap{ 
    width: 100%;
  }

  .mgnb_wrap .mutill{
    position: absolute;
    top: 35px;
    right: 120px;
    display: flex;
    gap: 20px;
  }

  .mlang{
    display: none;
  }
  
  .mgnb_wrap .mlang{
    position: absolute;
    top: 35px;
    right: 30px;
    display: flex;
    gap: 30px;
  }
  .mgnb_wrap .mlang li a{
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .mgnb_wrap .mlang > li > a{ 
    transition: opacity 0.5s; 
    color: #000; 
    opacity: 0.5; 
  }
  
  .mgnb_wrap .mlang > li > a:hover{ 
    opacity: 1; 
  }

  .mgnb_close{ 
    position: absolute; 
    left: 30px; 
    top: 30px;
  }

  header .utill{
    display: none;
  }

  header .util{
    display: block;
    position: absolute;
    top: 50%;
    right: 2.5%;
    transform: translateY(-50%);
  }

  header .search{
    width: 100%; 
    height: 100%; 
    background: rgba(0,0,0,0.9); 
    position: fixed; 
    left: 0; 
    top: 0; 
    z-index: 999; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
  }

  header .search input[type="text"]{ 
    width: 40vw; 
    height: 60px; 
    padding: 20px; 
    font-size: 1.3rem; 
    font-family: 'Noto Serif KR', serif;  
  }

  header .search input[type="submit"]{ 
    width: 80px; 
    height: 60px; 
    background: #999; 
    color: #fff; 
    font-size: 1.3rem; 
    font-family: 'Noto Serif KR', serif; 
    cursor: pointer; 
  }

  header .search_close{ 
    position: absolute; 
    right: 50px; 
    top: 70px; 
    font-size: 0; 
    color: transparent; 
    width: 50px; 
    height: 50px; 
    cursor: pointer;
  }

  header .search_close:before{
     content: ''; 
     display: block; 
     width: 100%; 
     height: 1px; 
     background: #fff; 
     position: absolute; 
     top: 25px; 
     left: 0; 
     transform: rotate(45deg);
  }

  header .search_close:after{ 
    content: ''; 
    display: block; 
    width: 100%; 
    height: 1px; 
    background: #fff; 
    position: absolute; 
    top: 25px; 
    left: 0; 
    transform: rotate(-45deg);
  }
}

@media screen and (max-width : 768px){
  header{
    height: 70px;
  }

  header h1 img{
    height: 30px;
  }
}

/*footer*/
footer{
  display: block;
  background-color: #ddd;
}

footer .inner{
  height: 500px;
  position: relative;
}

footer .footer_logo{
  text-align: left;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 20px 0 0;
}

footer .footer_txt{
  color: #777;
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
}

footer .footer_txt .add1{
  position: absolute;
  top: 50%;
  left: 27%;
  transform: translateY(-50%);
}

footer .footer_txt .add2{
  position: absolute;
  top: 40%;
  left: 56%;
  transform: translateY(-50%);
}

footer .footer_txt .add3{
  position: absolute;
  top: 64%;
  left: 56%;
  transform: translateY(-56%);
}

footer .footer_txt .add4{
  position: absolute;
  top: 31%;
  left: 78%;
  transform: translateY(-50%);
}

footer .footer_txt .add5{
  position: absolute;
  top: 50%;
  left: 78%;
  transform: translateY(-50%);
}

footer .footer_txt .add6{
  position: absolute;
  top: 32%;
  left: 85%;
  transform: translateY(-68%);
  display: flex;
  gap: 15px;
}

footer .footer_txt span{
  font-weight: bold;
  color: #555;
  font-size: 2.4rem;
}

footer .footer_txt .add4 span > a,
footer .footer_txt .add5 span > a{
  color: #555;
}

@media screen and (max-width : 1200px){
  footer .inner{
    height: 300px;
    position: relative;
  }

  footer .footer_logo{
    display: none;
  }

  footer .footer_txt{
    font-size: 1.3rem;
    display: flex;
    justify-content: space-between;
  }

  footer .footer_txt .add1{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
  }
  
  footer .footer_txt .add2{
    position: absolute;
    top: 40%;
    left: 37%;
    transform: translateY(-60%);
  }
  
  footer .footer_txt .add3{
    position: absolute;
    top: 64%;
    left: 37%;
    transform: translateY(-36%);
  }
  
  footer .footer_txt .add4{
    position: absolute;
    top: 25%;
    left: 57%;
    transform: translateY(-75%);
  }
  
  footer .footer_txt .add5{
    position: absolute;
    top: 45%;
    left: 57%;
    transform: translateY(-55%);
  }
  
  footer .footer_txt .add6{
    position: absolute;
    top: 25%;
    right: 30px;
    display: flex;
    gap: 15px;
  }

  footer .footer_txt span{
    font-size: 2.2rem;
  }
}

@media screen and (max-width : 768px){
  footer .inner{
    height: 700px;
    position: relative;
  }

  footer .footer_txt{
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
  }

  footer .footer_txt .add1{
    position: absolute;
    top: 65%;
    left: 5%;
    transform: translateY(-35%);
  }
  
  footer .footer_txt .add2{
    position: absolute;
    top: 30%;
    left: 5%;
  }
  
  footer .footer_txt .add3{
    position: absolute;
    top: 45%;
    left: 5%;
  }
  
  footer .footer_txt .add4{
    position: absolute;
    top: 15%;
    left: 5%;
  }
  
  footer .footer_txt .add5{
    position: absolute;
    top: 15%;
    left: 30%;
    transform: translateY(-80%);
  }
  
  footer .footer_txt .add6{
    position: absolute;
    top: 15%;
    left: 70%;
    display: flex;
    gap: 15px;
  }

  footer .footer_txt span{
    font-size: 2rem;
  }
}